<form id="board-options" method="POST" action="/board/solve">
    <input hidden type="text" id="lettersInput" name="letters">
    <h1 class="m-0 text-center py-2 fs-1">Boggle Solver</h1>
    <div class="col p-2 bg-dark text-light">
        <div class="fs-5">
            <label for="sizeSelect" class="form-label">Size</label>
            <select id="sizeSelect" name="sizeSelect" class="form-select" aria-label="The dimensions of the board">
                <option value="3">3x3</option>
                <option value="4" selected>4x4</option>
                <option value="5">5x5</option>
                <option value="6">6x6</option>
            </select>
        </div>
        <div id="randomBoardGroup" class="mt-2 fs-5">
            <label for="diceSelect" class="form-label">Dice</label>
            <div>
                <select id="diceSelect" name="diceSelect" class="form-select" aria-label="The dice to be used for the board randomizer">
                    <option data-size="4" value="classic">(4x4) Classic Boggle</option>
                    <option data-size="4" selected value="new">(4x4) New Boggle</option>
                    <option data-size="5" value="big">(5x5) Big Boggle</option>
                    <option data-size="6" value="super">(6x6) Super Big Boggle</option>
                </select>
            </div>
            <button id="randomBoardBtn" type="button" class="btn btn-primary col-12 mt-3 fs-5" title="Randomize board letters">
                <i class="bi bi-shuffle mx-1"></i>
                <span class="d-none d-sm-inline">Randomize</span>
            </button>
        </div>
    </div>
</form>
