<div id="board" class="grid disable-select" spellcheck="false">
    {% for row in range(0, rows) %}
        <div class="board-row">
            {% for col in range(0, cols) %}
            <div class="board-cell" data-pos="{{row}},{{col}}">
                <input 
                    readonly="true"
                    class="board-cell-input"
                    type="text"
                    minlength="1" maxlength="2"
                    value={{ board_letters[row][col] }}>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>