<div id="board" style="gap: {{ 40 / rows }}px" class="grid disable-select" spellcheck="false">
    {% for row in range(0, rows) %}
        <div style="gap: {{ 40 / cols }}px" class="board-row">
            {% for col in range(0, cols) %}
            <!-- Sorry for the inline style. It was this or JS -->
            <div style="font-size: {{ 16 / rows }}rem" class="board-cell" data-pos="{{row}},{{col}}">
                <input 
                    readonly="true"
                    class="board-cell-input"
                    type="text"
                    minlength="1" maxlength="2"
                    value="{{ board_letters[row][col] }}">
                <div class="heatmap-count"></div>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>