<div class="container">
    <!-- TODO fix regression with Bootstrap causing path arrows to render initial anchor in 
    wrong position, only resets after window resize -->
    <div class="row">
        <div class="col-lg-6">
            <div class="btn-group m-2" role="board-controls" aria-label="Board Controls">
                <button id="copyBoardUrlBtn"
                    class="btn btn-primary"
                    data-url="{{ url_for('board.solve') }}?letters={{letters}}&rows={{rows}}&cols={{cols}}&dictionary={{dictionary}}&max_len={{max_len}}">
                    <i id="copyBoardUrlBtnIcon" class="bi bi-clipboard"></i>
                    <span id="copyBoardUrlBtnText" class="ms-1">Share</span>
                </button>
            </div>
            {% include 'components/board.html' %}
            <button id="remove-filter-btn"
                    type="button"
                    title="Remove word filter"
                    class="btn btn-secondary">
                    <i class="bi-funnel"></i>
                    <span>x</span>
            </button>
        </div>
        <div class="col-lg-6">{% include 'components/words_table.html' %}</div>
    </div>
</div>
