:root {
    --letter-size: 3rem;
    --block-size: calc(var(--letter-size) * 2);
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -user-select: none;
}

#board {
    font-family: 'DM Sans', Arial, sans-serif;
    font-weight: bolder;
    /* width: calc(35vw + 10vh); */
    min-width: 150px;
    /* max-height: 75vh; */
    aspect-ratio: 1 / 1;
    border: 4px solid #555;
    /* position: absolute; */
}

#board td {
    min-width: var(--block-size);
    max-width: var(--block-size);
    aspect-ratio: 1/1;
    font-size: var(--letter-size);
    border: 2px solid #BBB;
}

#board td:hover {
    background-color: #ddcfff;
    box-shadow: 1px 1px 5px #555 outset;
}