:root {
    --board-width: 50vw;
    --letter-size: calc(1.5rem + 5vw);
    --cell-bg-color: #ddcfff;
    --cell-bg-color-dark: #9f76ff;
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -user-select: none;
}

#board {
    font-family: 'DM Sans', Arial, sans-serif;
    font-weight: bolder;
    min-width: 300px;
    max-width: 750px;
    width: var(--board-width);
    border: 3px solid #555;
}

.grid {
    display: grid;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    aspect-ratio: 1 / 1;
}

.cell-highlight-first-letter {
    background-color: var(--cell-bg-color-dark);
}

.cell-highlight {
    background-color: var(--cell-bg-color);
}

.board-col {
    grid-row: 1;
}

.board-cell {
    border: 1px solid #BBB;
    font-size: var(--letter-size);
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
}

.board-cell:hover {
    background-color: var(--cell-bg-color);
    box-shadow: 1px 1px 5px #555 outset;
} 

#remove-filter-btn {
    margin-top: 4px;
    padding: 0;
    width: 100%;
    font-weight: bolder;
    font-size: 1.5rem;
    display: none;
}

#remove-filter-btn span {
    position: relative;
    left: -5px;
    top: 3px;
    font-size: 1.15rem;
    /* color: rgba(253, 0, 0, 0.777); */
    color: rgb(255, 96, 96);
}

#remove-filter-btn i {
    position: relative;
}