:root {
    --board-width: 50vw;
    --letter-size: calc(1.5rem + 1vw);
    --block-size: calc(var(--letter-size) * 1.75);
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -user-select: none;
}

#board {
    font-family: 'DM Sans', Arial, sans-serif;
    font-weight: bolder;
    min-width: 250px;
    width: var(--board-width);
    color: black;
    aspect-ratio: 1 / 1;
    border: 2px solid #555;
    border-width: 2px;
    border-collapse: collapse;
}

#board td {
    min-width: var(--block-size);
    max-width: var(--block-size);
    aspect-ratio: 1 / 1;
    border: 1px solid #BBB;
    font-size: var(--letter-size);
    text-align: center;
    vertical-align: middle !important;
}

#board td:hover {
    background-color: #ddcfff;
    box-shadow: 1px 1px 5px #555 outset;
}