{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='datatables/datatables.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/table.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/datatables.css') }}">
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='datatables/datatables.min.js') }}"></script>
{% endblock %}

{% block page_content %}
<h1 class="fs-1 px-4 pt-4 m-0">Solved Boards</h1>

<div class="table-container m-4">
    <div class="datatable-spinner">
        <span class="spinner-border spinner-border-lg align-middle m-3" role="status" aria-hidden="true"></span>
        <span class="fs-2 align-middle">Loading</span>
    </div>
    <div class="datatable-wrapper">
        <!-- <table id="word-table" class="datatable cell-border hover stripe"></table> -->
        <table id="solved-boards-table" class="datatable cell-border hover stripe" style="font: bold 1.2rem 'Courier New', monospace"></table>
    </div>
</div>


<script>
headers = {
    headers: { "Content-Type": "application/json" }
};
fetch(`${window.location.origin}/api/solved`, { method: "GET", headers: headers })
.then(res => res.json())
.then(json => {
    let table = new DataTable("#solved-boards-table", {
        layout: {
            top2Start: 'info',
            top2End: 'paging',
        },
        lengthMenu: [
            [5, 10, 25, 100, -1],
            [5, 10, 25, 100, 'All'],
        ],
        columns: [
            { title: 'ID' },
            { title: "Solve Time (UTC)" },
            { title: "Board" },
            {},
            { title: "Board Size" },
            { title: "Word Count" },
            { title: "Solved Board" },
        ],
        columnDefs: [
            {
                target: 0,
                visible: false,
            },
            {
                target: 1,
                width: "15rem",
            },
            {
                target: 2,
                render: (data, type, row) => {
                    let rows = JSON.parse(data).map(row => "<tr>" + row.map(col => "<td>" + col + "</td>").join("") + "</tr>").join("")
                    let table = "<table class='table-letter-board cell-border'>" + rows + "</table>"
                    return table
                }
            },
            {
                target: 3,
                visible: false,
            },
            {
                target: 4,
                render: (data, type, row) => {
                    return `${row[3]} x ${data}`
                },
            },
            {
                target: 6,
                render: (data, type, row) => {
                    return `<a href="${window.location.origin}/board/solved/${row[0]}">${row[0].slice(0, 8)}</a>`
                }
            },
        ],
        order: [[1, 'desc']],
        data: json
    });

    table.ready(() => {
        let spinner = document.querySelector(".datatable-spinner");
        spinner.classList.add("fade-out");
        document.querySelector(".datatable-wrapper")?.classList.add("fade-in");
    })
})
</script>
{% endblock %}
