#scroll-to-top-btn {
    width: 100%;
    margin-top: 10px;
    background: var(--board-border-color);
    border: 2px outset var(--board-border-color-dark);
    position: sticky;
    z-index: 10;
    bottom: 0;
    display: none;
}