:root {
    --board-width: 100%;
    --letter-size: calc(1.5rem + 2.0vw);
    --cell-bg-color: #ddcfff;
    --cell-bg-color-dark: #9f76ff;
    --cell-gap: min(calc(5px + 1vw), 15px);
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -user-select: none;
}

#board {
    font-family: 'DM Sans', Arial, sans-serif;
    font-weight: bolder;
}

.grid {
    display: grid;
    gap: var(--cell-gap);
    padding: var(--cell-gap);
    border: 3px solid #CB8E0A;
    background-color: #CB8E0A;
    border-radius: calc(1.5 * var(--cell-gap));
    border-style: outset;
}

.board-row {
    display: grid;
    grid-auto-flow: column;
    gap: var(--cell-gap);
    min-width: 75px;
}

.board-cell {
    display: flex;
    align-items: center;
    width: 100%;
    aspect-ratio: 1 / 1;

    border: 3px solid #BD7100;
    border-style: inset;
    border-radius: var(--cell-gap);
    border-collapse: collapse;

    font-size: var(--letter-size);
    background-color: #eeebe5f7;
}

.board-cell input {
    font-family: inherit;
    padding: 0;
    cursor: pointer;
    color: rgb(74, 74, 74);
    border-radius: var(--cell-gap);
    text-align: center;
    border: none;
    width: 100%;
    height: 100%;
}

.board-cell input:focus {
    border-width: 0;
    color: black;
}

.board-cell-input {
    text-transform: capitalize;
}

.board-cell-input:focus {
    background-color: var(--cell-bg-color);
    outline: none;
}

.cell-highlight {
    background-color: var(--cell-bg-color);
}

.cell-highlight-filter {
    background-color: #E64949
}

.board-cell:not(.cell-highlight-first-letter):not(.cell-highlight-filter):hover {
    background-color: var(--cell-bg-color);
    box-shadow: 1px 1px 5px #555 outset;
} 

.cell-highlight-first-letter:not(.cell-highlight-filter) {
    background-color: var(--cell-bg-color-dark);
}

#remove-filter-btn {
    margin-top: 4px;
    padding: 0;
    width: 100%;
    font-weight: bolder;
    font-size: 1.5rem;
    display: none;
    background-color: rgb(230, 73, 73);
    border-color: white;
}

#remove-filter-btn span {
    position: relative;
    left: -5px;
    top: 3px;
    font-size: 1.15rem;
    color: white;
}

#remove-filter-btn i {
    position: relative;
}