<div class="w-50 m-4 p-4">
    <h2 class="display-4 mt-4">The Game</h1>
    <p>The game of <a href="https://en.wikipedia.org/wiki/Boggle">Boggle</a> is a classic word game played on a square board with a number of dice. Each die has a letter on each face. The dice are rolled each round to produce a random board.</p>

    <h2 class="display-6 mt-4">How To Play</h2>
    <p>The game is begun by deciding the final score needed to the win the game. This is entirely up to the players. A common goal is 50-100 points.</p>
    <p>Once winning score is decided, all the dice are rolled and the timer is started to begin a round. The exact allotted time depends on the variant of the game being played but is usually between 3-5 minutes, though you are welcome to adjust the time for variety</p>
    <p>After the board is rolled, the timer is set and the players must write down each word they find on the board. Words can be made of any adjacent dice (even diagonal), but a die cannot be repeated in a single word.</p>

    <p>After time is up, the players will all compare notes on which words were found. If two or more players found the same word (even if the path for the found word is different) all players mark that word off their lists. Any surviving words in a player's list are summed up according to the point table below to calculate the player's score for each round.</p>

    <p>Each word is assigned a point value according to it's length.</p>
    <table class="table border border-secondary w-50 text-center">
        <thead class="table-primary fw-bold">
            <td>Word Length</td>
            <td>Points</td>
        </thead>
        <tbody>
            <tr>
                <td>3,4</td>
                <td>1</td>
            </tr>
            <tr>
                <td>5</td>
                <td>2</td>
            </tr>
            <tr>
                <td>6</td>
                <td>3</td>
            </tr>
            <tr>
                <td>7</td>
                <td>5</td>
            </tr>
            <tr>
                <td>8+</td>
                <td>11</td>
            </tr>
        </tbody>
    </table>
    <p>Note that these point values are for the standard (4x4) size boggle board. Please refer to the official instructions for point values for the 5x5 and 6x6 boards.</p>

    <h3 class="display-6 mt-4">Official Gameplay Instructions</h3>
    <ul>
        <li><a class="text-decoration-none" href="https://www.hasbro.com/common/instruct/boggle.pdf">Class Boggle (4x4)</a></li>
        <li><a class="text-decoration-none" href="https://www.hasbro.com/common/instruct/bigboggle.pdf">Big Boggle (5x5)</a></li>
        <li><a class="text-decoration-none" href="https://www.winning-moves.com/images/SuperBigBoggleRules.pdf">Super Big Boggle (6x6)</a></li>
    </ul>
</div>