{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/solved.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/leader-line.min.js') }}" defer></script>
{% endblock %}

{% block page_content %}
    <div class="pt-3 mt-5 m-2">
        <div class="d-flex flex-wrap flex-md-wrap flex-lg-nowrap justify-content-start">
            <div>{% include 'components/board.html' %}</div>
            <div>{% include 'components/words_table.html' %}</div>
        </div>
    </div>
</div>
{% endblock %}