{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/solver.js') }}" defer></script>
{% endblock %}

{% block page_content %}
<div class="d-flex flex-row justify-content-center flex-sm-wrap-reverse flex-lg-nowrap pt-3 mt-5 mx-2">
    <div class="d-flex flex-column align-items-center">
        {% include 'components/board_options.html' %}

        <div class="d-flex flex-column align-items-center">
            {% include 'components/board.html' %}
            <button id="solve-board-btn"
                    type="submit"
                    form="board-options"
                    title="Solve board"
                    class="btn btn-primary btn-lg w-100 m-2">
                    <i class="bi-download"></i>
                    <span>Solve</span>
            </button>
        </div>
    </div>
        {% include 'rules.html' %}
    </div>
</div>
{% endblock %}
