<div id="board" class="grid disable-select">
    {% for col in range(0, cols) %}
        <div class="board-col">
            {% for row in range(0, rows) %}
            <div class="board-cell" data-pos="{{row}},{{col}}">
                {{ board_letters[row][col]|capitalize }}
            </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
<button id="remove-filter-btn" type="button" title="Remove word filter" class="btn btn-secondary"><i class="bi-funnel"></i><span>x</span></button>