{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="/static/css/board.css">
<style>
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
</style>
{% endblock %}

{% block page_content %}
<div class="container disable-select">
    <table id=board class="table-dark table-bordered">
        <tbody>
        {% for row in range(0, rows) %}
            <tr>
                {% for col in range(0, cols) %}
                <td class="text-uppercase text-center align-text-bottom">{{ board_letters[row][col] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}