<style>
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
</style>
<div id="table-wrapper">
    <table 
        id="word-table"
        data-toggle="table"
        data-url='api?letters={{ request.args.get("letters") }}&rows={{ request.args.get("rows") }}&cols={{ request.args.get("cols") }}'>
        <thead class="table-dark">
            <tr>
                <th scope="col">Word</th>
                <th scope="col">Length</th>
                <th scope="col">Path</th>
            </tr>
        </thead>
        <tbody>
        {% for word, path in found_words %}
            {% if word|length > 2 %}
            <tr>
                <td scope="row" class="text-center">
                    <a href="https://www.wordnik.com/words/{{ word }}">{{ word }}</a>
                </td>
                <td scope="row" class="text-center">{{ word|length }}</td>
                <td scope="row" class="text-center">{{ path }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
