<div id="rulesAccordion" class="accordion fs-5">
    <div class="accordion-item">
        <h2 id="headingTheGame" class="accordion-header">
            <button class="accordion-button collapsed fs-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTheGame" aria-expanded="false" aria-conrols="collapseTheGame">
                THE GAME
            </button>
        </h2>
        <div id="collapseTheGame" class="accordion-collapse collapse" data-bs-target="#collapseTheGame" aria-labelledby="headingTheGame" aria-expanded="false" aria-controls="collapseTheGame">
            <p class="accordion-body">
                The game of <a href="https://en.wikipedia.org/wiki/Boggle">Boggle</a> is a classic 
                word game played on a square board with a number of dice. Each die has a letter on 
                each face. The dice are rolled each round to produce a random board on which the
                the players search for words to score points.
            </p>
        </div>
        </h2>
    </div>

    <div class="accordion-item">
        <h2 id="headingHowToPlay" class="accordion-header">
            <button class="accordion-button collapsed fs-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHowToPlay" aria-expanded="false" aria-conrols="collapseHowToPlay">
                HOW TO PLAY
            </button>
        </h2>
        <div id="collapseHowToPlay" class="accordion-collapse collapse" data-bs-target="#collapseHowToPlay" aria-labelledby="headingHowToPlay" aria-expanded="false" aria-controls="collapseHowToPlay">
            <div class="accordion-body">
                <p>The game is begun by deciding the final score needed to win the game. This is entirely up to the players. A common goal is 50-100 points. Alternatively the players could agree on a number or rounds to be played. At this point the dictionary to be used for allowed words should also be decided.</p>
                <p>When ready to begin playing, roll all the dice and start the timer to begin a round. The exact allotted time depends on the variant of the game being played, but it is usually between 3-5 minutes, though the time can also be adjusted according to the player's preference. The players may now begin writing all the words they see in the board. Words can be made of any adjacent dice (including diagonally), but a die cannot be repeated in a single word.

                <p>After time is up, the players will all compare notes to see which words were found. If two or more players found the same word (even if the path for the found word is different) all players mark that word off their lists. Any surviving words in a player's list are summed up according to the point table below to calculate the player's score for each round.</p>
            </div>
        </div>
        </h2>
    </div>

    <div class="accordion-item">
        <h2 id="headingScoring" class="accordion-header">
            <button class="accordion-button collapsed fs-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseScoring" aria-expanded="false" aria-conrols="collapseScoring">
                SCORING
            </button>
        </h2>
        <div id="collapseScoring" class="accordion-collapse collapse" data-bs-target="#collapseScoring" aria-labelledby="headingScoring" aria-expanded="false" aria-controls="collapseScoring">
            <div class="accordion-body">
                <p>Each word is assigned a point value according to it's length.</p>
                <div class="d-flex flex-column flex-md-row">
                    <table class="mx-2 table border border-secondary text-center">
                        <thead class="table-secondary fw-bold align-middle">
                            <tr class="table-primary">
                                <td colspan="2">4x4</td>
                            </tr>
                            <tr>
                                <td>Word Length</td>
                                <td>Points</td>
                            </tr>
                        </thead>
                        <tbody class="align-middle">
                            <tr>
                                <td>3,4</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>8+</td>
                                <td>11</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="mx-2 table border border-secondary text-center">
                        <thead class="table-secondary fw-bold align-middle">
                            <tr class="table-primary">
                                <td colspan="2">5x5</td>
                            </tr>
                            <tr>
                                <td>Word Length</td>
                                <td>Points</td>
                            </tr>
                        </thead>
                        <tbody class="align-middle">
                            <tr>
                                <td>4</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>8+</td>
                                <td>11</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="mx-2 table border border-secondary text-center">
                        <thead class="table-secondary fw-bold align-middle">
                            <tr class="table-primary">
                                <td colspan="2">6x6</td>
                            </tr>
                            <tr>
                                <td>Word Length</td>
                                <td>Points</td>
                            </tr>
                        </thead>
                        <tbody class="align-middle">
                            <tr>
                                <td>4</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>11</td>
                            </tr>
                            <tr>
                                <td>9+</td>
                                <td>2 / letter</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    </h2>
                </div>
            </div>


    </div>

    <div class="accordion-item">
        <h2 id="headingOfficialGameplay" class="accordion-header">
            <button class="accordion-button collapsed fs-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOfficialGameplay" aria-expanded="false" aria-conrols="collapseOfficialGameplay">
                OFFICIAL INSTRUCTIONS
            </button>
        </h2>
        <div id="collapseOfficialGameplay" class="accordion-collapse collapse" data-bs-target="#collapseOfficialGameplay" aria-labelledby="headingOfficialGameplay" aria-expanded="false" aria-controls="collapseOfficialGameplay">
            <div class="accordion-body">
                <ul>
                    <li><a class="text-decoration-none" href="https://www.hasbro.com/common/instruct/boggle.pdf">(4x4) Boggle (Classic)</a></li>
                    <li><a class="text-decoration-none" href="https://www.hasbro.com/common/instruct/Boggle_(1997).pdf">(4x4) Boggle (New)</a></li>
                    <li><a class="text-decoration-none" href="https://www.hasbro.com/common/instruct/BoggleDeluxe.PDF">(5x5) Boggle Deluxe</a></li>
                    <li><a class="text-decoration-none" href="https://www.hasbro.com/common/instruct/BoggleMaster.PDF">(5x5) Boggle Master</a></li>
                    <li><a class="text-decoration-none" href="https://www.hasbro.com/common/instruct/bigboggle.pdf">(5x5) Big Boggle</a></li>
                    <li><a class="text-decoration-none" href="https://www.winning-moves.com/images/SuperBigBoggleRules.pdf">(6x6) Super Big Boggle</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 id="headingDictionaries" class="accordion-header">
            <button class="accordion-button collapsed fs-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDictionaries" aria-expanded="false" aria-conrols="collapseDictionaries">
                DICTIONARIES
            </button>
        </h2>
        <div id="collapseDictionaries" class="accordion-collapse collapse" data-bs-target="#collapseDictionaries" aria-labelledby="headingDictionaries" aria-expanded="false" aria-controls="collapseDictionaries">
            <div class="accordion-body">
                <div>
                    The following wordlists are currently available for the solver.
                    Each list was processed to remove any disallowed words or words that are impossible to make given the restrictions of a Boggle board. These include proper nouns, phrases, words including numbers or punctuation such as hyphens (<span class="font-monospace">-</span>) or apostrophes (<span class="font-monospace">'</span>) etc.
                </div>
                <ul class="mt-3">
                    <li><a class="text-decoration-none" href="https://www.wordgamedictionary.com/">Word Game Dictionary Sources</a>
                        <ul>
                            <li><a class="text-decoration-none" href="https://www.wordgamedictionary.com/twl06/">Scrabble 2006 (NA) Tournament Word List</a></li>
                            <li><a class="text-decoration-none" href="https://www.wordgamedictionary.com/sowpods/">SOWPODS Scrabble (non-NA) Tournament Word List</a></li>
                            <li><a class="text-decoration-none" href="https://www.wordgamedictionary.com/english-word-list/">NA General English Word List</a></li>
                        </ul>
                    </li>
                    <li><a class="text-decoration-none" href="https://drive.google.com/file/d/1XIFdZukAcDRiDIOgR_rHpICrrgJbLBxV/view">Collins Scrabble Words (2019)</a></li>
                    <li><a class="text-decoration-none" href="https://github.com/dwyl/english-words/">dwyl (Do What You Love) English Word List</a></li>
                    <li><a class="text-decoration-none" href="https://github.com/wordnik/wordlist">Wordnik 2021/07/29 List</a></li>
                    <li>COMING SOON! - <a class="text-decoration-none" href="https://wordnet.princeton.edu/">WordNet Lexical Database for English</a></li>
                    <li>COMING SOON! - <a class="text-decoration-none" href="https://www.gutenberg.org/ebooks/29765">Project Gutenberg Webster Unabridged (1913)</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>