{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/solver.js') }}" defer></script>
{% endblock %}

{% block page_content %}
<div class="d-flex flex-row justify-content-center flex-wrap-reverse flex-lg-nowrap pt-3 mt-5 mx-4">
    <div class="d-flex flex-column w-100 align-items-center">
        {% include 'components/board_options.html' %}

        <div class="d-flex flex-column align-items-center">
            {% include 'components/board.html' %}
            <button id="solve-board-btn"
                    type="submit"
                    title="Solve board"
                    class="btn btn-primary btn-lg w-100 m-2 align-items-center">
                    <div id="solve-btn-txt">
                        <i class="align-middle bi-download"></i>
                        <span class="align-middle ms-2">Solve</span>
                    </div>
                    <div hidden id="solving-spinner" class="align-middle">
                        <div class="align-middle spinner-border spinner-border-sm" role="status" aria-hidden="true"></div>
                        <span class="align-middle ms-2">Solving...</span>
                    </div>
            </button>
        </div>
    </div>
        {% include 'rules.html' %}
    </div>
</div>
{% endblock %}
