{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/solver.js') }}" defer></script>
{% endblock %}

{% block page_content %}
<div class="container">
    <div class="row m-2">
        <section class="col-lg-6 mb-3">
            <section class="row">
                {% include 'components/board.html' %}
            </section>
            <div class="row">
                <button id="solve-board-btn"
                    type="submit"
                    title="Solve board"
                    class="btn btn-primary btn-lg g-2">
                    <div id="solve-btn-txt">
                        <i class="align-middle bi-download"></i>
                        <span class="align-middle ms-2">Solve</span>
                    </div>
                    <div hidden id="solving-spinner" class="align-middle">
                        <div class="align-middle spinner-border spinner-border-sm" role="status" aria-hidden="true"></div>
                        <span class="align-middle ms-2">Solving...</span>
                    </div>
                </button>
            </div>
        </section>

        <section class="col-lg-6 px-lg-2 p-sm-0">
            <div class="mb-2">{% include 'components/board_options.html' %}</div>
            <div>{% include 'rules.html' %}</div>
        </section>
    </div>
</div>
{% endblock %}
