#board-options > h2 {
    font-family: 'Kanit', 'Helvetica', sans-serif;
    background-color: var(--primary-color);
}

#board-options {
    font-family: 'Figtree', Arial, sans-serif;
}

#board-options select {
    background-color: var(--secondary-color);
    font-weight: bold;
}