#table-wrapper thead {
    border-color: var(--fg-color-1);
}

/* Hide checkbox column */
#table-wrapper th.bs-checkbox,
#table-wrapper td.bs-checkbox {
    display: none;
}

#table-wrapper td input[type=checkbox] {
    display: none;
}

#table-wrapper td {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    color: var(--fg-color-1);
    background-color: var(--bg-color-1);
}

#table-wrapper tr.selected {
    background-color: var(--secondary-color);
}

.table-letter-board {
    table-layout: auto;
    border-collapse: collapse;
    text-transform: capitalize;
}

.table-letter-board td {
    text-align: center;
    padding: 0.5rem 0.8rem;
    color: white;
    background: #333838 !important;
    border: 2px white solid !important;
    vertical-align: middle;
}