#table-wrapper thead {
    border-color: var(--fg-color-1);
}

/* Hide checkbox column */
#table-wrapper th.bs-checkbox,
#table-wrapper td.bs-checkbox {
    display: none;
}

#table-wrapper td input[type=checkbox] {
    display: none;
}

#table-wrapper td {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    color: var(--fg-color-1);
    background-color: var(--bg-color-1);
}

#table-wrapper tr.selected {
    background-color: var(--secondary-color);
}